*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9b2f09;
    margin-left: 7%;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #550003;
    margin-left: 10%;
}

fieldset {
    display: inline-block;
    border: 10;
    border-color: #9b2f09;
    background-color: whitesmoke;
    margin-right: 0.2em;
    margin-inline-start: 10em;
}

body {
    background-color: #9d7a65;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: black;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    border-radius: 10px;
}

.campo {
    margin-bottom: 2em;
    margin-left: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #550003;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #230d00;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #ffbcbc;
}

.botao {
    font-size: 1.2em;
    background: #230d00;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.5em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: #830d0d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}